.searchbar {
  display: flex;
  align-items: center;

  &__icon-back {
    display: none;
    padding: 0 0.8rem;

    &--visible {
      display: inline-block;
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 1.2rem;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 1.2rem;
}
