.searchbar {
  display: flex;
  align-items: center;
  margin: 0 1rem;

  ion-searchbar {
    padding: 0;
  }

  &__icon-back {
    display: none;
    padding: 0 0.8rem;
    color: var(--ion-color-primary);

    &--visible {
      display: inline-block;
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 1.2rem;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 1.2rem;

  &__empty-message {
    grid-column: 1 / -1;
  }
}
