:host {
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  color: var(--ion-color-primary-shade);
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0.6rem 1.2rem hsla(0, 0%, 15%, 0.15);
}

.recipe-picture {
  height: 70%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  &__heart-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    color: var(--ion-color-primary-tint);
    z-index: 100;
    --ionicon-stroke-width: 3rem;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 15%, 0.2);
  }
}

.recipe-title {
  height: 30%;
  margin: 0;
  padding: 0.6rem;
}
